@use "src/assets/styles/variables" as v;

.work {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &-left,
    &-right {
      width: 100%;
      height: 100%;
    }

    &-left {
      display: grid;
      place-items: center;

      @media (max-width: 768px) {
        height: 70%;
      }
    }

    &-right {
      @media (max-width: 768px) {
        height: 30%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    &-name {
      position: relative;
      font-size: 5.5rem;
      font-weight: 900;
      color: transparent;
      -webkit-text-stroke: .1rem v.$light-color;
      cursor: default;

      @media (max-width: 1024px) {
        font-size: 4rem;
      }

      @media (max-width: 425px) {
        font-size: 2.75rem;
      }

      &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        white-space: nowrap;
        overflow-x: hidden;
        color: v.$light-color;
      }
      
      &:hover:after {
        animation: moveText .7s both;

        @keyframes moveText {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}