@use "src/assets/styles/variables" as v;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    user-select: none;
    padding: 0 10%;
  }

  &__subtitle {
    width: 100%;
    position: relative;
    font-size: 5.5rem;
    color: v.$first-color-light;
    line-height: 5rem;

    @media (max-width: 1024px) {
      line-height: 1rem;
    }

    @media (max-width: 768px) {
      line-height: 2.5rem;
    }

    @media (max-width: 425px) {
      font-size: 2.75rem;
      line-height: 1.5rem;
    }

    &-h {
      position: absolute;
      animation: moveLetter .2s linear infinite;
      animation-delay: .9s;
      margin: 0 -1rem 0 0;
    }

    &-e {
      position: absolute;
      left: 3rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .2s;

      @media (max-width: 425px) {
        left: 1.5rem;
      }
    }

    &-l {
      position: absolute;
      left: 6rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .25s;

      @media (max-width: 425px) {
        left: 3rem;
      }
    }

    &-ll {
      position: absolute;
      left: 7.25rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .1s;

      @media (max-width: 425px) {
        left: 3.75rem;
      }
    }

    &-o {
      position: absolute;
      left: 8.5rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .9s;

      @media (max-width: 425px) {
        left: 4.5rem;
      }
    }

    &-virgule {
      position: absolute;
      left: 11.75rem;
      animation: moveLetter .2s linear infinite;

      @media (max-width: 425px) {
        left: 6.25rem;
      }
    }

    &-emoji {
      position: absolute;
      left: 14rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .4s;

      @media (max-width: 425px) {
        left: 7.5rem;
      }
    }

    &-i {
      position: absolute;
      left: 21.25rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .9s;

      @media (max-width: 425px) {
        left: 11.5rem;
      }
    }

    &-apos {
      position: absolute;
      left: 23rem;
      animation: moveLetter .2s linear infinite;
      animation-delay: .2s;

      @media (max-width: 425px) {
        left: 12.5rem;
      }
    }

    &-m {
      position: absolute;
      left: 24rem;
      animation: moveLetter .2s linear infinite;

      @media (max-width: 425px) {
        left: 13rem;
      }
    }

    @keyframes moveLetter {
      0% {
        transform: translate(.75%, -.75%);
      }
      50% {
        transform: translate(-.75%, .75%);
      }
      100% {
        transform: translate(.75%, -.75%);
      }
    }
  }

  &__title {
    width: 100%;
    font-size: 7rem;
    color: v.$light-color;
    line-height: 13rem;

    @media (max-width: 1024px) {
      font-size: 5.5rem;
    }

    @media (max-width: 768px) {
      font-size: 4.25rem;
      line-height: 7rem;
    }

    @media (max-width: 425px) {
      font-size: 3.5rem;
      line-height: 5.75rem;
    }

    & span {
      opacity: .2;
    }
  }

  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    &-arrow {
      width: 2rem;
      height: 2rem;
      border-right: .25rem solid v.$light-color;
      border-bottom: .25rem solid v.$light-color;
      transform: rotate(45deg);
      animation: arrowAnimation 1s infinite;

      &:nth-child(1) {
        animation-delay: .1s;
      }

      &:nth-child(2) {
        animation-delay: .3s;
      }

      &:nth-child(3) {
        animation-delay: .5s;
      }

      @keyframes arrowAnimation {
        0% {
          opacity: 0;
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}